<div class="banner" style="background-image: url(https://i.imgur.com/uDCjl0O.jpeg);">
    <div class="container-fluid">
        <h1>Check Out</h1>
        <p>List Your Favorite Movies</p>
        <%= link_to "Create A List", new_list_path(@list), class: "button", id: "create" %>
    </div>
</div>
<div class="title alignment">
    <h2>My List</h2>
</div>
<%# <% if @list.present? %>
<div class="cards alignment">
    <div class="card-category">
        <div class="card-trip-infos">
            <% @lists.each do |list| %>
                <%=link_to list.name, list_path(list) %>
            <% end %>
        </div>
    </div>
</div>
<%# <% end %>
<div class="title alignment">
    <h2>Recommended List</h2>
</div>
<div class="cards alignment">
    <div class="card-category">
        <div class="card-trip-infos">
            <% @lists.each do |list|%>
                <%=link_to list.name, list_path(list) %>
            <% end %>
        </div>
    </div>
</div>
<div class="title alignment">
    <h2>Your Friends' Lists</h2>
</div>
<div class="cards alignment">
    <div class="card-category">
        <div class="card-trip-infos">
            <% @lists.each do |list|%>
                <%=link_to list.name, list_path(list) %>
            <% end %>
        </div>
    </div>
</div>
