// Specific CSS for your home-page

$hundred: 100%;
$black: #000000;
$white: #FFFFFF;
$ghost_white: #F8F8FF;
$coral: #FF7F50;

body{
    background-color: $black;
}

.container{
    h1{
        font-style: Courier;
    } 
}

.title{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    color: $ghost_white;
    display: flex;
}

.alignment{
    margin-left: 170px;
}