// Specific CSS for your home-page

$hundred: 100%;
$black: #000000;
$white: #FFFFFF;
$ghost_white: #F8F8FF;
$coral: #FF7F50;

body{
    background-color: $black;
}

.container{
    h1{
        font-style: Courier;
    } 
    p{
        color: $ghost_white;
    }
}

.title{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    color: $ghost_white;
    display: flex;
}

.alignment{
    margin-left: 170px;
}

.navbar-brand{
    color: $ghost_white;
    &:hover{
        text-decoration: none;
        color: $ghost_white;

    }
}

button{
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 15px;
    .fas{
        color: white;
        border: none;
    }
    #up{
        display: none;
    }
}
