//  List New
.list-form{
    display: flex;
    margin-top: 160px;
    margin-bottom: 160px;
}

#graduate{
    width: 115%;
}

#new_list{
    width: 80%;
    margin-left: 80px;
    padding: 5px;
    margin-top: 23px;
}

#list_name{
    width: 50%;
}

figure{
    display: flex;
    align-items: center;
}

// Bookmark New
#add-movie{
    margin-top: 45px;
    margin-bottom: -50px;
}
.bookmark-form{
    display: flex;
    vertical-align: middle;
    margin-top: 160px;
    margin-bottom: 160px;

}

#form-side{
    input:hover{
        content: "";
    }
}

#img-side{

}
#new_bookmark{
    margin-top: 50px;
    padding: 5px;
}


// #form-side{
//     vertical-align: middle;
//     max-width: 50%;
//     padding: 35px;
//     margin-top: 20px;
// }
