.container{
    h4, p, span{
        color: $ghost_white;
    }
}

.title{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    color: $ghost_white;
    display: flex;
    justify-content: space-between;
    width: 96%;
}

.movie-detail{
    #movie-title{
        font-weight: bold;
    }
    #movie-rating{

    }
    #movie-overview{
        font-style: italic;
    }
}

