.container{
    h4, p, span{
        color: $ghost_white;
    }
}

.title{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    color: $ghost_white;
}

#movie-title{
    font-weight: bold;
}