$hundred: 100%;
$black: #000000;
$white: #FFFFFF;
$ghost_white: #F8F8FF;
$coral: #FF7F50;

.banner{
    height: $hundred;
    width: $hundred;
    padding: 150px;
    background-size: 100%;
    background-size: cover;
    input{
        background-color: $coral;
    }
    background-image: url(https://wallpaperaccess.com/full/329583.jpg);
    animation: banner 20s linear infinite 3s;
    animation-timing-function: ease-in-out;

    @keyframes banner{
        0%{
            background-image: url(https://wallpaperaccess.com/full/329583.jpg);
        }
        25%{
            background-image: url(https://wallpapercave.com/wp/Rc3r14M.jpg);
        }
        50%{
            background-image: url(https://images.hdqwalls.com/wallpapers/it-2017-movie-4k-34.jpg);
        }
        75%{
            background-image: url(https://wallpapercave.com/wp/wp2751453.jpg);
        }
        100%{
            background-image: url(https://cdn.wallpapersafari.com/10/12/LJG9Or.jpg);
        }
    }
}


.container-fluid{
    width: $hundred; 
    height: $hundred;
    h1, p{
        color: $ghost_white;
        text-shadow: 2px 2px $black;
    }
}

