$hundred: 100%;
$black: #000000;
$white: #FFFFFF;
$ghost_white: #F8F8FF;
$coral: #FF7F50;
$bottle_green: #006A4E;
$nice_red: #AA0000;

.button{
    box-shadow: 1px 1px $black;
    text-decoration: none;
    border-radius: 2px;
    padding: 7px;
    color: $ghost_white;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.buttons{
    margin-top: 30px;
    margin-bottom: 30px;
}



#create{
    background-color: $coral;
    box-shadow: 1px 1px $black;
    text-decoration: none;
    border-radius: 2px;
    padding: 7px;
    color: $ghost_white;
    transition-duration: 0.4s;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    :hover{
        background-color: $coral;
    }
}

#add{
    box-shadow: 1px 1px $black;
    text-decoration: none;
    border-radius: 2px;
    padding: 7px;
    color: $ghost_white;
    transition-duration: 0.4s;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    font-size: 30px;
    border: 1px solid white;
    :hover{
        background-color: $coral;
    }
}

#delete{
    background-color: transparent;
    border: 1px solld $nice_red;
    color: $nice_red;
    position: relative;
    top: -510px;
    left: 274px;
    border-radius: 80px;
}

#index{
    background-color: $bottle_green;
}