.create{
    background-color: $coral;
    box-shadow: 1px 1px $black;
    text-decoration: none;
    border-radius: 2px;
    padding: 7px;
    color: $ghost_white;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    :hover{
        background-color: 	#FA8072;
    }

    .button:active {
      background-color: #3e8e41;
      box-shadow: 1px 1px $black;
      transform: translateY(4px);
    }
}