$hundred: 100%;
$black: #000000;
$white: #FFFFFF;
$ghost_white: #F8F8FF;
$coral: #FF7F50;
$bottle_green: #006A4E;
$nice_red: #AA0000;

.button{
    box-shadow: 1px 1px $black;
    text-decoration: none;
    border-radius: 2px;
    padding: 7px;
    color: $ghost_white;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

#create{
    background-color: $coral;
    box-shadow: 1px 1px $black;
    text-decoration: none;
    border-radius: 2px;
    padding: 7px;
    color: $ghost_white;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    :hover{
        background-color: 	#FA8072;
    }

    .button:active {
      background-color: #3e8e41;
      box-shadow: 1px 1px $black;
      transform: translateY(4px);
    }
}

#delete{
    background-color: $nice_red;
}

#index{
    background-color: $bottle_green;
}