// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";
@import "banner";
@import "buttons"

$hundred: 100%;
$black: #000000;
$white: #FFFFFF;
$ghost_white: #F8F8FF;
$coral: #FF7F50;
