// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

$hundred: 100%;
$black: #000000;
$white: #FFFFFF;
$ghost_white: #F8F8FF;
$coral: #FF7F50;

h1{
    color: $ghost_white;
}

.alignment{
    margin-left: 170px;
}

#create{
    background-color: $coral;
    box-shadow: 1px 1px $black;
    text-decoration: none;
    border-radius: 2px;
    padding: 7px;
    color: $ghost_white;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    :hover{
        background-color: 	#FA8072;
    }

    .button:active {
      background-color: #3e8e41;
      box-shadow: 1px 1px $black;
      transform: translateY(4px);
    }
}

.title{
    margin-top: 50px;
    margin-bottom: 50px;
}